@using BookWebCatalog.Data.Models;
@using static BookWebCatalog.Common.AdminUser;
@model List<Publisher>
@{

}
<h2 class=" text-center mb-5">List of @Model.Count Publishers</h2>
<div class="row mb-5">
    <div class="col">
        @if (User.IsInRole(AdminRoleName))
        {
        <a class="btn btn-primary" asp-area="" asp-controller="Publisher" asp-action="Create">New Publisher</a>
        }
    </div>
    <div class="col">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            @if (User.IsInRole(AdminRoleName))
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model)
        {
            <tr>
                <td>@publisher.Id</td>
                <td>@publisher.Name</td>
                <td style=" white-space:nowrap">
                    @if (User.IsInRole(AdminRoleName))
                    {
                    <a class="btn btn-primary btn-sm" asp-controller="Publisher" asp-action="Edit"
                           asp-route-id="@publisher.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Publisher" asp-action="Delete"
                           asp-route-id="@publisher.Id" onclick="return confirm('Are you sure?')">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
