@using BookWebCatalog.Data.Models;
@using static BookWebCatalog.Common.AdminUser;
@model List<Author>
@{

}
<h2 class=" text-center mb-5">List of @Model.Count Authors</h2>
<div class="row mb-5">
    <div class="col">
        @if (User.IsInRole(AdminRoleName))
        {
            <a class="btn btn-primary" asp-area="" asp-controller="Author" asp-action="Create">New Author</a>
        }
    </div>
    <div class="col">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Years</th>
            <th>Date of Birth</th>
            @if (User.IsInRole(AdminRoleName))
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>@author.Years</td>
                <td>@author.DateOfBirth</td>
                <td style="white-space:nowrap">
                    @if (User.IsInRole(AdminRoleName))
                    {
                        <a class="btn btn-primary btn-sm" asp-controller="Author" asp-action="Edit"
                           asp-route-id="@author.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Author" asp-action="Delete"
                           asp-route-id="@author.Id" onclick="return confirm('Are you sure?')">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
